html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

body {
    background-color: rgb(46, 46, 46);
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    /* position: relative; */
}

.my-container {
    display: flex;
    height: 100vh;
}

.main {
    flex: 1;
    padding: 20px;
    /* padding-right: 100px; */
}

.sidebar {
    z-index: 1;
    width: 250px;
    height: 100%;
    /* background-color: rgb(46, 46, 46); */
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
    display: block;
    translate: 110% 0;
    transition-duration: 550ms;
    position: fixed;
    right: 0;
    top: 0;
}

.sidebar.open {
    translate: 0 0;
}

#my-toggle-btn {
    z-index: 1;
    font-size: 30px;
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    color: #ffffff;
    transition: 0.5s ease-in-out;
    user-select: none;
}

#my-toggle-btn:hover {
    color: rgb(151, 105, 49);
    transition: 0.8s ease-in-out;
}

.sidebar ul {
    list-style-type: none;
    text-decoration: none;
    margin-top: 25%;
}

.sidebar ul li {
    margin-bottom: 5%;
    text-align: right;
    transition: 0.5s ease-in-out;
}

.sidebar ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 400;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;
}

.sidebar ul li:hover {
    transform: translate(-10%);
    transition: 0.6s ease-in-out;
}

.sidebar ul li:hover a {
    color: rgb(151, 105, 49);
    transition: 0.8s ease-in-out;
}


/* ----sorting pages---- */
.diagram {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: none;
    margin-left: 2%;
    color: aliceblue;
}

.filters {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: aliceblue;
    margin-left: 2%;
    padding: 2%;
    /* height: 100%; */
}

.content {
    margin-top: 2%;
    /* margin-bottom: 20%; */
}

#sortOption {
    margin-left: 1%;
    margin-top: 4%;
    width: 70%;
    color: aliceblue;
    background: rgb(46, 46, 46);
    border: none;
    border-bottom: 2px solid aliceblue;
    cursor: pointer;
    outline: none;
}

#sortOption:hover {
    border-bottom: 2px solid rgb(151, 105, 49);
    transition: 0.6s;
}

#o1 {
    color: aliceblue;
    background: rgb(46, 46, 46);

}

#o1:hover {
    background-color: rgb(151, 105, 49) !important;
}

.runBtn {
    width: 20%;
    font-size: 20px;
    transition: .6s;
    background-color: rgb(151, 105, 49) !important;
    border: none;
}

.runBtn:hover {
    background-color: rgb(131, 91, 41) !important;
}

input[type="range"]::-webkit-slider-thumb {
    background-color: rgb(151, 105, 49);
}

input[type="range"]:focus::-webkit-slider-thumb {
    background-color: rgb(151, 105, 49);
    outline-style: solid;
    outline-color: azure;
    outline-width: 1px;
    box-shadow: 0 0 2px 2px rgb(151, 105, 49);
}





.sort-columns {
    /* display: flex;
    flex-wrap: wrap;
    position: relative;
    padding-left: 4%; */
    
    display: flex;
    justify-content: center;
    align-items: flex-end;

    height: 600px;
}

.bar {
    width: 40px;
    margin: 0 2px;
    background-color: aliceblue;
    transition: 0.8s;
}

.additional {
    margin-top: 2%;
    /* margin-bottom: 20%; */
    margin-bottom: 10% !important;
    height: 450px;
    /* position: relative; */
}

.codes {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: aliceblue;
    margin-left: 2%;
    margin-bottom: 2%;

    /* padding: 2%; */
    display: inline-block;
    position: relative;
    /* height: 500px; */

}

.info {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: aliceblue;
    margin-left: 2%;
    /* margin-bottom: 2%; */
    padding: 2%;
}

.lang {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: inline-block;
    height: 50px;
    width: 50px;
    /* padding: 5px; */
    padding: 5px;
    margin: 0;
}

/* .active1{
    border: 1px solid aliceblue;
    border-bottom: none;
} */
.lang:hover img {
    transform: scale(0.9, 0.9);
    opacity: .8;
}

.lang:hover {
    background-color: rgb(55, 51, 51);
}

img {
    width: 40px;
    transition: .6s ease-in-out;
}

.codes_ch {
    position: relative;
}


.code-editor {
    /*Dark background color */
    /* background-color: transparent !important; */
    color: #d4d4d4 !important;
    /* Light text color */
    font-family: 'Courier New', Courier, monospace;
    /* Monospace font for code */
    padding: 10px;
    border-radius: 5px;
    /* border-left: 1px solid aliceblue; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow: auto;
    /* Enable vertical scrolling */
    overflow-x: hidden;
    height: 350px;
    /* Set a fixed height or adjust as needed */
    width: 100%;
    position: absolute;
}

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
    margin-bottom: 10% !important;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
    margin-bottom: 10% !important;
}

#js_code {
    overflow: hidden;
}

#py_code {
    display: none;
}

#c_sharp_code {
    display: none;
}

#cpp_code {
    overflow: hidden;
    display: none;
}