html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}
body {
    background-color: rgb(46, 46, 46);
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    /* position: relative; */
}

.my-container {
    display: flex;
    height: 100vh;
}

.main {
    flex: 1;
    padding: 20px;
    /* padding-right: 100px; */
}

.sidebar {
    z-index: 1;
    width: 250px;
    height: 100%;
    /* background-color: rgb(46, 46, 46); */
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
    display: block;
    translate: 110% 0;
    transition-duration: 550ms;
    position: fixed;
    right: 0;
    top: 0;
}

.sidebar.open {
    translate: 0 0;
}

#my-toggle-btn {
    z-index: 1;
    font-size: 30px;
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    color: #ffffff;
    transition: 0.5s ease-in-out;
    user-select: none;
}

#my-toggle-btn:hover {
    color: rgb(209, 93, 4);
    transition: 0.8s ease-in-out;
}

.sidebar ul {
    list-style-type: none;
    text-decoration: none;
    margin-top: 25%;
}

.sidebar ul li {
    margin-bottom: 5%;
    text-align: right;
    transition: 0.5s ease-in-out;
}

.sidebar ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 400;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;
}

.sidebar ul li:hover {
    transform: translate(-10%);
    transition: 0.6s ease-in-out;
}

.sidebar ul li:hover a {
    color: rgb(209, 93, 4);
    transition: 0.8s ease-in-out;
}


/* ----sorting pages---- */
.diagram {
    border: 1px solid aliceblue;
    margin-left: 2%;
    color: aliceblue;
}

.filters {
    border: 1px solid aliceblue;
    color: aliceblue;
    margin-left: 2%;
    padding: 2%;
    /* height: 100%; */
}

.content {
    margin-top: 2%;
}

#sortOption {
    margin-left: 2%;
    margin-top: 4%;
    width: 70%;
    color: aliceblue;
    background: rgb(46, 46, 46);
    border: none;
    border-bottom: 2px solid aliceblue;
    cursor: pointer;
    outline: none;
}
#sortOption:hover{
    border-bottom: 2px solid rgb(209, 93, 4);
    transition: 0.6s;
}
#o1 {
    color: aliceblue;
    background: rgb(46, 46, 46);

}
#o1:hover{
    background-color: rgb(209, 93, 4) !important;
}
#runBtn{
    width: 20%;
    font-size: 20px;
    transition: .6s;
    background-color: rgb(209, 93, 4) !important;
    border: none;
}
#runBtn:hover{
    background-color: rgb(181, 80, 3) !important;
}
input[type="range"]::-webkit-slider-thumb{
    background-color: rgb(209, 93, 4);
}

input[type="range"]:focus::-webkit-slider-thumb{
    background-color: rgb(209, 93, 4);
    outline-style: solid;
    outline-color:azure;
    outline-width: 1px;
    box-shadow: 0 0 2px 2px rgb(209, 93, 4);
}
.sort-columns{
    /* display: flex;
    flex-wrap: wrap; */
    display: inline-block;
    /* position: relative; */
    padding-left: 4%;
}
.sort-div{
    display: inline-block;
    /* height: 100px; */
    background-color: aliceblue;
    /* width: 30px; */
    /* margin-left: 1%; */
    border: 1px solid black;
    
}